body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
fieldset,
input,
textarea,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}
@media only screen and (max-width: 1000px) {
  .container-fluid {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
    height: 100vh;
  }
}

body {
  font: 16px Helvetica, Arial, Sans-Serif;
  color: #636363;
  line-height: 24px;
}
.bg {
  /* The image used */
  background-image: url(background-png-images-4-original.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#container {
  width: 960px;
  margin: 0 auto;
}

#profil {
  position: absolute;
  margin: auto;
  width: 183px;
  border-radius: 100px;
}

#header {
  height: 244px;
  padding: 2px 8px 10px 217px;
  background: url(bb.jpg);
  margin-top: 20px;
}

#header h2,
h1 {
  width: 510px;
  font: 30px Georgia, Serif;
  color: #f2f0eb;
  letter-spacing: 2px;
  margin: 0 0 20px 0;
  text-shadow: 0px 3px 3px #494949;
}

.bg p {
  color: red;
  font-weight: bold;
}
